﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}



    <div class="app-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="app-name">
                        <a href="#menu-toggle" id="menu-toggle">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                        <h2>Teste Técnico Viceri</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px; background: #CEECF5; margin-top: 1px;">
        <div>
            <span>Robson Mantovani</span>
        </div>


    </div>

    <div style="padding-top:20px;" >
        <a class="btn btn-primary" href="@Url.Action("Colaborador") ">Cadastro de Colaboradores</a>
    </div>
