﻿@model TESTE_VICERI.ViewModel.VMColaboradorEdit
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div>
    <h2>Editar - Colaborador</h2>
</div>


@using (Html.BeginForm("Edit", "Colaborador", FormMethod.Post))
{

    <div>
        @Html.LabelFor(model => model.Nome, new { @class = "col-lg-2" })
        <div class="col-lg-10">
            @Html.EditorFor(model => model.Nome)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.Email, new { @class = "col-lg-2" })
        <div class="col-lg-8">
            @Html.EditorFor(model => model.Email)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.TipoColaboradorSelecionado, new { @class = "col-lg-8" })
        <div class="col-lg-8">
            @Html.DropDownListFor(model => model.TipoColaboradorSelecionado, Model.TipoColaborador)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.CPF, new { @class = "col-lg-2" })
        <div class="col-lg-8">
            @Html.EditorFor(model => model.CPF)
        </div>
    </div>

    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

        <div style="text-align:center;margin-bottom:20px;">
            <input type="submit" name="Inserir" value="Confirmar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Voltar", null, new { @class = "btn btn-danger" })
        </div>
}
