﻿@model TESTE_VICERI.ViewModel.VMColaboradorEdit
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <h2>Novo - Colaborador</h2>
</div>

    @using (Html.BeginForm("Create", "Colaborador", FormMethod.Post))
    {
    
        <div>
            @Html.LabelFor(model => model.Nome)
            <div>
                @Html.EditorFor(model => model.Nome)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.TipoColaboradorSelecionado)
            <div>
                @Html.DropDownListFor(model => model.TipoColaboradorSelecionado, Model.TipoColaborador)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.CPF)
            <div>
                @Html.EditorFor(model => model.CPF)
            </div>
        </div>

        <div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        <div style="text-align:center;margin-bottom:20px;">
            <input type="submit" name="Inserir" value="Confirmar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Voltar", null, new { @class = "btn btn-danger" })
        </div>
    }

