﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta http-equiv="expires" content="no-cache" />

    <title>Viceri</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <style>
        body {
            height: 100%;
        }

        html, body {
            height: 100%;
        }

        .container {
            width: 100%;
            min-height: 100%;
            height: auto !important;
            height: 100%;
            min-height: 100%;
            position: relative;
        }

        * html .container {
            height: 100%;
        }

        .content {
            min-width: 962px;
            float: left;
            clear: left;
            padding: 25px 0 0 5px;
            margin-bottom: 40px;
        }

        * html .content {
            width: 962px;
        }



        .color_line {
            background-color: #e7e8eb;
        }

        /*********************************************************************************************************************************************************************************************************************************************************************************
            GRID
        ***********************************************************************************************************************************************************************************************************************************************************************************/
        table.gridCss {
            width: 100%;
        }

        .gridCss th {
            border-bottom: 1px black solid;
            font-size: 11px;
            font-weight: bold;
            padding: 2px;
            text-align: left;
        }

        .gridCss td {
            color: #333;
            font-size: 11px;
            line-height: 16px;
            padding: 2px;
        }

            .gridCss td.colImg {
                width: 30px;
            }

            .gridCss td.colDescricao {
                width: 450px;
            }

            .gridCss td img {
                margin: 2px 0 0 5px;
            }

        .col-icon {
            width: 16px;
        }

        .color_line {
            background-color: #e7e8eb;
        }
    </style>
</head>
<body id="body">
    <div class="container">
        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
