﻿@model TESTE_VICERI.ViewModel.VMColaboradorPesquisa
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    int i = 0;

}

<div>
    <h2>Pesquisa Colaboradores </h2>
</div>


@using (Html.BeginForm("Pesquisa", "InicialColaborador", FormMethod.Post))
{
    <input type="hidden" id="idColab" />
    <input type="hidden" id="tipoStatus" />
    <div>
        @Html.LabelFor(model => model.Nome, new { @class = "col-lg-2" })
        <div class="col-lg-8">
            @Html.EditorFor(model => model.Nome)
        </div>
    </div>


    <div>
        @Html.LabelFor(model => model.Email, new { @class = "col-lg-2" })
        <div class="col-lg-8">
            @Html.EditorFor(model => model.Email)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.TipoColaboradorSelecionado, new { @class = "col-lg-8" })
        <div class="col-lg-8">
            @Html.DropDownListFor(model => model.TipoColaboradorSelecionado, Model.TipoColaborador)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.CPF, new { @class = "col-lg-2" })
        <div class="col-lg-8">
            @Html.EditorFor(model => model.CPF)
        </div>
    </div>

    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

    <div style="text-align:center;margin-bottom:20px;">
        @Html.ActionLink("Novo", "Novo", null, new { @class = "btn btn-info" })
        <input type="submit" name="Pesquisar" value="Pesquisar" class="btn btn-success" />
        @Html.ActionLink("Cancelar", "Voltar", null, new { @class = "btn btn-danger" })
    </div>
}


<div class="table-with-pagination">
    <table class="gridCss" style="margin-top: 20px;">
        <thead>
            <tr class="color_line">
                <th>
                    @Html.DisplayNameFor(model => model.Listagem.FirstOrDefault().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listagem.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listagem.FirstOrDefault().Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listagem.FirstOrDefault().IdTipo)
                </th>
                <th class="col-icon"></th>
                <th class="col-icon"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Listagem != null)
            {
                foreach (var item in Model.Listagem)
                {
                    i++;
                    string trClass = (i % 2 == 0 ? "color_line" : "");

                    <tr class="@trClass">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @{
                                string desc = Model.DescricaoTipoColaborador(item.IdTipo);
                            }
                            @Html.Label(desc)
                        </td>
                        <td data-codigo="@item.IdColaborador" data-FlAtivo="@item.Fl_Ativo">
                            @{
                                if (item.Fl_Ativo == "A")
                                {
                                    <a href="javascript:confirma('@item.IdColaborador', 'D');" class="glyphicon glyphicon-pencil">Desativar</a>
                                }
                                else
                                {
                                    <a href="javascript:confirma('@item.IdColaborador', 'A');" class="glyphicon glyphicon-pencil">Reativar</a>
                                }
                            }

                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Colaborador", new
                                {
                                    id = item.IdColaborador
                                })">
                                <span class="glyphicon glyphicon-pencil" title="Editar">Editar</span>
                            </a>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>

</div>



<div id="divDesativar" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirma Desativação?</h4>
            </div>
            <div class="modal-body">
                <p>Deseja realmente desativar este colaboarador?</p>
            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-primary">Sim</button>*@
                <a href="javascript:btnConfirma_click()" class="btn btn-primary" title="Sim">Sim</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="divReativar" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirma Reativação?</h4>
            </div>
            <div class="modal-body">
                <p>Deseja realmente reativar este colaboarador?</p>
            </div>
            <div class="modal-footer">

                <a href="javascript:btnConfirma_click()" class="btn btn-primary" title="Sim">Sim</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <script type="text/javascript">

        function confirma(id, tipo) {

            $("#divDesativar").ready(function () {

                debugger;

                $('input[id="idColab"]').val(id);
                $('input[id="tipoStatus"]').val(tipo);

                if (tipo == "D")
                    $("#divDesativar").modal();
                else
                    $("#divReativar").modal();

            });
        }

        function btnConfirma_click() {

            var urlGo = "@Url.Action("Index", "InicialColaborador")";

            $.ajax({
                url: '@Url.Action("AtivarDesativar", "InicialColaborador")',
                data: JSON.stringify({
                    'id': $('input[id="idColab"]').val(),
                    'tipoStatus': $('input[id="tipoStatus"]').val()
                }),
                type: "POST",
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data != null && data != "") {
                        debugger;
                        window.location = urlGo;
                    }
                }
            });
        }


    </script>
}
